
.login-title-1{
    font-style: italic;
}

.login-title-2{
    color: #FF9800;
}

.login-button{
    background-color: #FF9800 !important;
    border-radius:unset;
    border-color: #FF9800 !important;
}

.login-checkbox{
    padding-top: 6.5px;
}

body{
    background: url(/assets/image/login-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    background-attachment: fixed;
    max-width: 100%;
}

.login-form-container{
    margin-top: 10%;
}

.login-bottom-text{
    font-size: 14px;
    color: #9E9E9E;
}

.login-bottom-text-div{
    text-align: center;
}

.login-icon-text{
    border-right: none;
    border-radius: 0.25rem !important;
    border-top-right-radius : 0 !important;
    border-bottom-right-radius: 0 !important;
}

.login-form{
    border-left: none;
    background-color: #e9ecef;
}
.login-form:focus{
    border-left: none;
    background-color: #e9ecef;
}

.login-header{
    font-weight: bolder;
    font-family: arial;
    text-align:center;
    border-bottom: none !important;
    padding: 20px
}


.login-title-1{
    font-style: italic;
    font-size: 28px;
}

.login-title-2{
    color: #FF9800;
    font-size: 28px;
}